* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color-primary: #fff;
    --color-secundary: #111;
    --color-bg: rgb(48, 130, 253);
    --color-bc: rgb(40, 104, 201);
    --color-bt: rgb(16, 62, 133);
    --color-g: rgb(199, 197, 197);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-bt);
    border-radius: 2px;
    scroll-behavior: smooth;
}

header {
    background-color: var(--color-bg);
    height: 10vh;
    box-shadow: 1px 1px 100px 25px var(--color-secundary);
}

.container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-grid a img {
    width: 20vh;
    margin: 6px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

.menu a:hover {
    color: var(--color-primary);
}

.barras {
    width: 60px;
    display: none;
    padding: 10%;
}

.posicionamento-header {
    position: relative;
}

.rodape {
    display: flex;
    justify-content: space-between;
}

.rodape ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    list-style: none;
}

.rodape a {
    color: var(--color-g);
    text-decoration: none;
    font-size: 15px;
}

.rodape h2 {
    color: var(--color-primary);
    font-size: 15px;
}

.links-footer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.mostruario {
    background-image: url(../img/jogos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
}

.produtos {
    background: rgb(199, 197, 197);
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 53%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 10px var(--color-secundary), 0px 0px 30px var(--color-secundary);
}

.produtos p {
    padding-left: 110px;
}

.produtos h2 {
    padding-left: 25%;
    color: rgb(250, 12, 12);
    text-shadow: 0px 0px 10px rgb(32, 32, 32), 0px 0px 30px rgb(32, 32, 32);
}

footer {
    background-color: rgb(126, 9, 236);
}


.logo-rodape {
    margin-top: 1, 5%;
}

.social {
    margin: 10px;
}

.social h2 {
    font-size: 25px;
}

.social form {
    display: flex;
    margin-bottom: 8px;
}

.social input[type="email"] {
    height: 37px;
    width: 195px;
}


button {
    width: 130px;
    height: 36px;
    color: var(--color-primary);
    background-color: rgb(247, 18, 18);
    border: 5px;
    font-size: 18px;
}

.siga-nos {
    display: flex;
    gap: 20px;
}

.siga-nos h2 {
    font-weight: bolder;
    font-size: 20px;
}


@media screen and (max-width: 1200px) {
    .container-grid {
        width: 100%;
    }

    header {
        width: 100%;
    }

    .menu {
        width: 460px;
        margin-left: 17%;
    }

    .menu a {
        width: 460px;
        margin: 10px;
        margin-left: 30px;
        font-size: 15px;
    }

    .texto-banner p {
        font-size: 24px;
    }

    .texto-banner a {
        font-size: 25px;
        margin-left: 0%;
        margin-top: 3%;
    }

    .promocional {
        display: none;
    }

    .produtos {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        width: 200px;
        height: 340px;
        align-content: flex-start;
    }

    .social h2 {
        margin-bottom: 5px;
        font-size: 25px;
    }

    .logo-rodape {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .container-grid {
        display: flex;
        flex-direction: row;
        padding-bottom: 3%
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 0;
        right: 65px;
        background-color: black;
    }

    .menu-ativo {
        display: flex;
    }

    .menu a {
        color: white;
    }

    .barras {
        display: inline-block;
        display: flex;
        width: 50px;
    }

    .posiçao-texto {
        width: 50%;
    }

    .texto-banner {
        font-size: 20px;
        margin: 0px;
    }

    .texto-banner a {
        font-size: 18px;
    }

    .produtos {
        margin-left: 5%;
        width: 245px;
        margin-right: 10px;
        display: flexbox;
        justify-content: space-between;
    }

    .links-footer {
        display: none;
    }

    .rodape {
        justify-content: space-around;
    }
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 30% 50%
    }

    50% {
        background-position: 25% 50%
    }

    100% {
        background-position: 30% 50%
    }
}