*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: rgb(48, 130, 253);
    height: 130px;
}
.container-grid{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-grid a{
    margin-top: 3%;
}
.menu a{
    color: black;
    text-decoration: none;
    text-transform:uppercase;
    font-family:'roboto',sans-serif;
    font-size: 20px;
}
.menu{
    width: 450px;
    display: flex;
    justify-content:space-around;
    margin-left:35% ;
}
.banner{
background-image: url(../img/banner_800x600.gif);
background-repeat:no-repeat;
background-size: cover;
height: 600px;
}
.texto-banner{
color: rgb(252, 249, 249);
display:ruby-text;
justify-content: flex-end;
margin: 200px;
margin-top: 3%;
justify-content:space-evenly;

}
.posicao-texto{
    display:flex;
    justify-content:flex-end;
    align-items:flex-start ;
}
.texto-banner h1{
   font-family:url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
    margin-top: 40px;
    color: black;
}
.texto-banner a{
    background-color: rgb(233, 10, 10);
    color: black;
text-transform: uppercase;
padding:15px;
border-radius:5px;
text-decoration: none;
margin-left:460px;
box-shadow:0px 0px 20px rgb(0,0,0),0px 0px 30px rgb(0,0,0);
}
.texto-banner p{
    margin-bottom: 40px;
    color: rgb(36, 22, 2);
background-color:rgba(9, 24, 243, 0.411);
padding:7%;
box-shadow: 0px 0px 10px rgb(0,0,0),0px 0px 30px rgb(0,0,0);
}
.promocional{
    background-image: url(../img/jogos.png);
    background-repeat: no-repeat;
    background-size:  cover;
    height: 600px;
}
.promocional a{
    display: inline-flex;
    justify-content:space-around;
    margin-top:150px;
    margin-left: 40px;
    margin-right:20px;
    padding: 1%;
}
#carrosel img{
    display: none;
}
.promocional-ativo{
    display:flex;
    width:90%;
    margin:5%;
    margin-right:2%;
    box-shadow: 0px 0px 10px rgb(0,0,0),0px 0px 30px rgb(0,0,0);
}
.barras{
    width: 60px;
    display:none;
    padding:10%;
   }
   .posicionamento-header{
       position: relative;
}
.mostruario{
    background-image: url(../img/jogos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
}
.produtos{
    background:rgb(199, 197, 197) ;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    height:53%;
    margin-top:10% ;
margin-left: 5%;
margin-right:5%;
    box-shadow: 0px 0px 10px rgb(0,0,0),0px 0px 30px rgb(0,0,0);
}
.produtos p{
padding-left:110px ;
}
.produtos h2{
    padding-left:25%;
    color: rgb(250, 12, 12);
    text-shadow: 0px 0px 10px rgb(32, 32, 32),0px 0px 30px rgb(32, 32, 32);
}
footer{
    background-color: rgb(126, 9, 236);
}
.rodape{
    display:flex;
    justify-content: space-between;
  
}
.logo-rodape{
    margin-top: 1,5%;
}
.links-footer{
    color: black;
    display: flex;
    justify-content:flex-start;
    margin-bottom:1%;
width: 300px;
}
.links h2{
    font-size:16px;
    
}
.links a{
    color:black;
    text-decoration:none;
}
.links{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10%;
  
    
}
.social {
    color: black;
    font-size:14px ;
    margin-bottom:8px;
    margin-right: 2%;
}
.social form{
    display: flex;
    margin-bottom:8px;
} 
.social input[type="email"]{
    height:37px;
    width:195px;
}
.social input[type="email"] ::placeholder{
    color:b8b3b3;
    font-weight: bold;
}
button{
    width:150px;
    height:42px ;
color: black;
background-color: rgb(247, 18, 18);
border:none;
font-size:18px;
}
.siga-nos{
    display: flex;
    justify-content: space-between;
    margin-top:8px;
}
.siga-nos a{
    margin:2%;
}
@media screen and (max-width: 1200px) {
    .container-grid{
        width: 100%;
    }  
    header{
        width:100%;
     }
     .menu{ 
         width: 460px;
    margin-left: 17%;
        } 
     .menu a{
         width: 460px;
         margin:10px;
         margin-left:30px ;
         font-size:15px;
     }
     .texto-banner p{
    font-size:24px ;
     }
    .texto-banner a{
    font-size:25px ;
    margin-left:0% ;
    margin-top: 3%;
    }
    .promocional{
        display:none;
    }
    .produtos{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
    width:200px ;
    height:340px;
    align-content: flex-start;
    }
    .social h2{
    margin-bottom: 5px;
    font-size:25px;
    }
    .logo-rodape{
        display: none;
    }
    
    }
    @media screen and (max-width: 768px){
    .container-grid{
        display: flex;
        flex-direction:row;
        padding-bottom:3%
    }
    .menu{ 
        display:none;
            flex-direction: column;
            width: 200px;
            position: absolute;
            top: 0;
            right: 65px;
            background-color: black;
    } 
    .menu-ativo{ 
        display: flex;
    }
    .menu a{
        color: white;
    }
    .barras{
         display: inline-block;
       display:flex;
       width: 100px;
    }
    .posiçao-texto{
        width:50% ;
    }
    .texto-banner {
        font-size:20px ;
        margin: 0px; 
    }
    .texto-banner a{
        font-size:18px ;
    }
    .produtos{
        margin-left:5%;
        width: 245px;
        margin-right:10px ;
        display:flexbox;
        justify-content: space-between;
    }
    .links-footer{
        display: none;
    }
    .rodape{
        justify-content: space-around;
    }
    } 
    
